# Лабораторная работа 3. Моделирование экономических процессов и явлений с помощью аппарата нечетких множеств. Вариант 2

## Разбор примера

In [18]:
from math import log
from math import exp

import pandas as pd

Fmax = 3
jmax = 0.7
t05 = 4
alpha = 0.8
b = t05 / log(2) ** 0.5


columns = {'1': '-', '2': '-', '3': '-', '4': 0, '5': 1, '6': 2, '7': 3, '8': 4,'9': 5,'10': 6,'11': 7,'12': 8},\
          {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8,'9': 9,'10': 10,'11': 11,'12': 12},\
          {'1': 0.92, '2': 0.85, '3': 1, '4': 0.77, '5': 0.62, '6': 0.54, '7': 0.50, '8': 0.58,'9': 0.65,'10': 0.65,'11': 0.73,'12': 0.85}

data_frame1 = pd.DataFrame(columns, index=['t','Месяц', 'd0(t)'])

data_frame2 = pd.DataFrame(columns=['Промежуток'], index=['Fmax'])

data_frame2.loc['Fmax'] = [[0.5 * Fmax, 1.5 * Fmax]]
data_frame2.loc['jmax'] = [[round(0.7 * jmax, 1), round(1.3 * jmax, 1)]]
data_frame2.loc['t05'] = [[0.75 * t05, 1.25 * t05]]
data_frame2.loc['d(t)'] = [[data_frame1.loc['d0(t)'].min(), data_frame1.loc['d0(t)'].max()]]

data_frame3 = pd.DataFrame({'t': range(9),'R(t)': list(map(lambda x: 1 - exp(-0.0433 * x ** 2), range(9))), 'd0(t)': [0.77, 0.62, 0.54, 0.50, 0.58, 0.65, 0.65, 0.73, 0.85],
                           'R1(t)': list(map(lambda x: 1 - exp(-0.0392 * x ** 2), range(9))), 'R2(t)': list(map(lambda x: 1 - exp(-0.0480 * x ** 2), range(9)))})

data_frame3['d1'] = data_frame3.get('d0(t)') * 0.8 + 0.1
data_frame3['d2'] = data_frame3.get('d0(t)') * 0.8 + 0.2
data_frame3['L1'] = 0.9720 * data_frame3.get('d1') * data_frame3.get('R1(t)')
data_frame3['L'] = Fmax * jmax * data_frame3.get('d0(t)') * data_frame3.get('R(t)')
data_frame3['L2'] = 2.9304 * data_frame3.get('d2') * data_frame3.get('R2(t)')

,t,R(t),d0(t),R1(t),R2(t),d1,d2,L1,L,L2
0,0,0.000000,0.77,0.000000,0.000000,0.716,0.816,0.000000,0.000000,0.000000
1,1,0.042376,0.62,0.038442,0.046866,0.596,0.696,0.022270,0.055173,0.095586
2,2,0.159031,0.54,0.145125,0.174693,0.532,0.632,0.075045,0.180341,0.323534
3,3,0.322740,0.50,0.297282,0.350791,0.500,0.600,0.144479,0.338877,0.616774
4,4,0.499826,0.58,0.465915,0.536060,0.564,0.664,0.255418,0.608789,1.043058
5,5,0.661252,0.65,0.624689,0.698806,0.620,0.720,0.376463,0.902610,1.474402
6,6,0.789612,0.65,0.756150,0.822361,0.620,0.720,0.455686,1.077820,1.735089
7,7,0.880172,0.73,0.853510,0.904821,0.684,0.784,0.567455,1.349304,2.078767
8,8,0.937413,0.85,0.918634,0.953672,0.780,0.880,0.696472,1.673282,2.459283

In [19]:
data_frame1

          1     2  3     4     5     6    7     8     9     10     11     12
t         -     -  -  0.00  1.00  2.00  3.0  4.00  5.00   6.00   7.00   8.00
Месяц     1     2  3  4.00  5.00  6.00  7.0  8.00  9.00  10.00  11.00  12.00
d0(t)  0.92  0.85  1  0.77  0.62  0.54  0.5  0.58  0.65   0.65   0.73   0.85

In [20]:
data_frame2

      Промежуток
Fmax  [1.5, 4.5]
jmax  [0.5, 0.9]
t05   [3.0, 5.0]
d(t)    [0.5, 1]

In [21]:
data_frame3

,t,R(t),d0(t),R1(t),R2(t),d1,d2,L1,L,L2
0,0,0.000000,0.77,0.000000,0.000000,0.716,0.816,0.000000,0.000000,0.000000
1,1,0.042376,0.62,0.038442,0.046866,0.596,0.696,0.022270,0.055173,0.095586
2,2,0.159031,0.54,0.145125,0.174693,0.532,0.632,0.075045,0.180341,0.323534
3,3,0.322740,0.50,0.297282,0.350791,0.500,0.600,0.144479,0.338877,0.616774
4,4,0.499826,0.58,0.465915,0.536060,0.564,0.664,0.255418,0.608789,1.043058
5,5,0.661252,0.65,0.624689,0.698806,0.620,0.720,0.376463,0.902610,1.474402
6,6,0.789612,0.65,0.756150,0.822361,0.620,0.720,0.455686,1.077820,1.735089
7,7,0.880172,0.73,0.853510,0.904821,0.684,0.784,0.567455,1.349304,2.078767
8,8,0.937413,0.85,0.918634,0.953672,0.780,0.880,0.696472,1.673282,2.459283

## Решение задачи. Вариант 2

In [ ]:

Fmax = 3.3
jmax = 0.9
t05 = 2.5
#months =
alpha = 0.75